header{
	  background: #466368;
  background: -webkit-linear-gradient(#FFFFFF, #C2CDD0);
  background:    -moz-linear-gradient(#FFFFFF, #C2CDD0);
  background:     -ms-linear-gradient(#FFFFFF, #C2CDD0);
  background:         linear-gradient(#FFFFFF, #C2CDD0);
  padding: 14px;

}

#clock{
margin: 0 auto;
}


#test ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;

}

#test ul li{
  list-style: none;
  color: #eba3f7;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 2px;
  filter: blur(1px);
  transition: 4s;
}

#test ul li:hover,
#test ul li:hover ~ li{
  transform: rotate(180deg) translateY(-200px);
  transition: 2s;
  filter: blur(20px);
  opacity: 0;

}

#test{
    background: -webkit-radial-gradient(#ebecec, #f3feff);
  background:    -moz-radial-gradient(#ebecec, #f3feff);
  background:     -ms-radial-gradient(#ebecec, #f3feff);
  background:         radial-gradient(#ebecec, #f3feff);
}

h1{
  text-align: center;
  font-family: arial, verdana, sans-serif;
}

p{
  font-size: 1em;
}


.item {
  width:50%;
  height:70%;
margin-left: auto;
margin-right: auto;

}

hr{
  border-width: 2px;
  border-color: #000000;
}

footer{
	text-align: center;
	background-color:#C2CDD0;
}

img{
	margin: 3px;
  width: 100%;
}
#toba{
  background-color: #FFFF00;
}

#maimoon{
  background-color: #FFFF00;
}


#toba525{
  width: 95%
}

#maimoon525{
  width:  95%;
}


#copy{
  margin-top: 9%;
}

iframe{
	border:solid 1px #777;
	width: 300px;
	height: 250px;
}

h1{
	font-size: 150%;
	font-style: italic;
}

h2{
	font-size: 100%;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
    text-align:center;
    background: orange;
  z-index: 10000;
}

/* Navbar links */
#navbar a {
  display: inline-block;
  color: #000000;
  text-align: center;
  padding: 14px;
  text-decoration: none;
      border: 1px solid #000;
    border-radius: 5px;
    margin:2px;
}

.navbars .navbar-nav{
  display: inline-block;
  float: none;
}

.navbars .navbar-collapse{
  text-align: center;
}


.container-fluid{
  background-color: orange;
}
/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.good{
  background-image:  url(medan/goodfood.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 110%;
  height: 100%;
  padding:50px;
  opacity: 0.95;

}


#mie{
  background-color: #e1fbd6;
}

#coto{
    background-color: #e1fbd6;
}

#bolu{
  background-color: #e1fbd6;
}

.but a{
    height: 20px;
    padding: 2px;
    width: auto;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: underline;
}

.but a:hover{
color: #ebacff;
}


table tr{
  background: #6ADE6F;
  border: 2px solid #000000;
  opacity: 0.8;
  border-color: #000000;
}


table th{
  color:#211DBB;
  border: 2px solid #000000;
  border-color: #000000;
  background: #D47521;
    background: -webkit-linear-gradient(#fdfdfd, #f5efef);
    background:    -moz-linear-gradient(#fdfdfd, #f5efef);
    background:     -ms-linear-gradient(#fdfdfd, #f5efef);
    background:      -o-linear-gradient(#fdfdfd, #f5efef);
  background:         linear-gradient(#fdfdfd, #f5efef);
  opacity: 1;
  text-align: center;
}


table td{
  color:#211DBB;
  background: #6ADE6F;
      background: -webkit-linear-gradient(#fdfdfd, #f5efef);
    background:    -moz-linear-gradient(#fdfdfd, #f5efef);
    background:     -ms-linear-gradient(#fdfdfd, #f5efef);
    background:      -o-linear-gradient(#fdfdfd, #f5efef);
  background:         linear-gradient(#fdfdfd, #f5efef);
  text-shadow: 2px 3px 7px #2DECDC;
  border: 2px solid #000000;
  border-color: #000000;
}


tr:hover{
  transition-duration: .25s;
  opacity: 1;
}


th:first-child{
  text-align: left;
}


td:first-child{
  text-align: left;
}


td:nth-child(2){
  text-align: center;
}


td:nth-child(3){
  text-align: center;
}


#snake ul{
  margin: 0;
  padding: 0;
  display: flex;
}

#snake ul li{
  list-style: none;
}

#snake ul li a{
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #262626;
  margin: 0 10px;
  transition: .5s;

}

#snake ul li a span{
  position: absolute;
  transition: transform .5s;

}

#snake ul li a span:nth-child(1),
#snake ul li a span:nth-child(3)
{
  width: 100%;
  height: 1px;
  background: #262626;

}

#snake ul li a span:nth-child(1){

  top: 0;
  left: 0;
  transform-origin: right;
}

#snake ul li a:hover span:nth-child(1){
  transform: scaleX(0);

  transform-origin: left;
  transition: transform .5s;
}

#snake ul li a span:nth-child(3){

  bottom: 0;
  left: 0;
  transform-origin: left;
}

#snake ul li a:hover span:nth-child(3){
  transform: scaleX(0);

  transform-origin: right;
  transition: transform .5s;
}



#snake ul li a span:nth-child(2),
#snake ul li a span:nth-child(4)
{
  width: 1px;
  height: 100%;
  background: #262626;

}

#snake ul li a span:nth-child(2){

  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
}

#snake ul li a:hover span:nth-child(2){
  transform: scaleY(1);

  transform-origin: top;
  transition: transform .5s;
}

#snake ul li a span:nth-child(4){

  top: 0;
  right: 0;
  transform: scaleY(0);
  transform-origin: top;
}

#snake ul li a:hover span:nth-child(4){
  transform: scaleY(1);

  transform-origin: bottom;
  transition: transform .5s;
}


html.lb-disable-scrolling {
  overflow: hidden;
  /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
  position: fixed;
  height: 100vh;
  width: 100vw;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
